@import '../index.less';

.@{prefix}-picker {
  width: 180px;

  &-range {
    width: 240px;
  }

  &-arrow {
    position: absolute;
    z-index: 0;
    right: 9px;
    top: 0px;
    transition: all 0.3s;
  }
}

.@{prefix}-calendar {
  width: 244px;
  height: 274px;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(188, 182, 204, 0.2);
  border-radius: 4px;

  &-range {
    width: 488px;
    display: flex;
  }

  &-time-content {
    min-width: 244px;
    .@{prefix}-calendar-time-item {
    }
  }

  &-year-content {
    min-width: 244px;

    .@{prefix}-calendar-time-item {
      width: 33.3333333%;
      height: 54px;
      line-height: 54px;

      &-content {
        width: 48px;
      }
    }
  }

  &-month-content {
    min-width: 244px;
    .@{prefix}-calendar-time-item {
      width: 33.3333333%;
      height: 54px;
      line-height: 54px;

      &-content {
        width: 48px;
      }
    }
  }

  &-quarter-content {
    min-width: 244px;
    .@{prefix}-calendar-time-item {
      width: 25%;
      height: 54px;
      line-height: 54px;

      &-content {
        width: 48px;
      }
    }
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f0f1f5;
    height: 40px;
    padding: 0 10px;
    user-select: none;
  }

  &-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: @tableItemHoverBackgroundColor;
    }

    &-prev {
    }

    &-next {
    }
  }

  &-date {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #15171f;

    &-year {
      margin-right: 10px;
    }

    &-year-y,
    &-month {
      cursor: pointer;

      &:hover {
        color: @primaryColor;
      }
    }
  }

  &-body {
    padding: 0 10px;
    user-select: none;
  }

  &-day {
    ul {
      display: block;
      width: 100%;
    }

    li {
      text-align: center;
      line-height: 32px;
      display: inline-block;
      width: 14.285%;
      height: 32px;

      font-size: 12px;
      font-weight: 500;
      color: #15171f;
    }
  }

  &-time {
    & > div {
    }

    &-item {
      display: inline-block;
      width: 14.285%;
      height: 32px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      padding: 2px 0px;

      &-next {
        color: #d0d1d9;
      }

      &-prev {
        color: #d0d1d9;
      }

      &-current {
        color: #15171f;
        cursor: pointer;
      }

      &-content {
        display: inline-block;
        width: 24px;
        height: 24px;
        line-height: 24px;

        &:hover {
          border-radius: 2px;
          background: @tableItemHoverBackgroundColor;
        }
      }

      &-checked &-content {
        border-radius: 2px;
        background: @primaryColor;
        color: #ffffff;

        &:hover {
          background: @primaryColor;
        }
      }

      &-today {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 2px;
          top: 2px;
          right: 2px;
          bottom: 2px;
          border-radius: 2px;
          border: 1px solid #5477ff;
        }
      }

      &-date {
        display: flex;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        padding: 2px 0;
        justify-content: center;
      }
    }

    &-item-in-range {
      .@{prefix}-calendar-time-item-date {
        background: #e8f0ff;
      }

      &-hover {
        .@{prefix}-calendar-time-item-date {
          background: #adc5ff;
        }

        .@{prefix}-calendar-time-item-content:hover {
          background: #adc5ff;
        }

        .@{prefix}-calendar-time-item-checked .@{prefix}-calendar-time-item-content {
          background: @primaryColor;
        }
      }
    }
  }

  &-footer {
  }
}
