@import '../index.less';

.@{prefix}-button {
  width: auto;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid;
  box-sizing: border-box;
  transition: all 0.3s;
  white-space: nowrap;
  line-height: 16px;
  display: flex;
  align-items: center;

  .@{prefix}-icon {
    margin-right: 5px;
    margin-left: -3px;
    color: inherit;
  }
  span {
    line-height: 16px;
  }

  &&-default {
    background: #fff;
    border-color: @borderColor;
    color: @fullDarkColor;
    &:hover {
      border-color: #7692ff;
      color: #7692ff;
    }
  }

  &&-primary {
    color: #fff;
    background: @primaryColor;
    border-color: @primaryColor;
    &:hover {
      color: #fff;
      background: #7692ff;
    }
  }

  &&-dashed {
    background: #fff;
    border-style: dashed;
    border-color: @borderColor;
    &:hover {
      border-color: #7692ff;
      color: #7692ff;
    }
  }
  &&-text {
    background: none;
    border: 0;
    &:hover {
      border-color: #7692ff;
      color: #7692ff;
    }
  }
  &&-link {
    background: none;
    border: 0;
    color: @primaryColor;
    &:hover {
      border-color: #7692ff;
      color: #7692ff;
    }
  }

  &&-disabled {
    cursor: not-allowed;
    background: @fullDisableColor;
    color: #d0d1da;
  }
  &&-lg {
    padding: 10px 16px;
  }
  &&-sm {
    padding: 4px 16px;
    font-size: 12px;
  }
  &&-inline {
  }

  &-spin {
  }
}
